.section {
  margin: 20px auto;
  max-width: 30%;
  text-align: center;
  font-size: inherit;
};

.title {
  margin-bottom: 20px;
  font-size: 2rem;
  text-shadow: 2px 4px 7px #000000ad;

}

.select {
  margin-top: 20px;
  width: 100%;
  background-color: #24242497;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 0;
  box-shadow: 0px 0px 10px 0px #000;
}

.option {
  padding: 10px;
  position: relative;
  color: #dcdcdc;
  width: 100%;
}
