.footer {
  width: 100%;
  min-height: 40px;
  background-color: #0f20279f;
  color: azure;
  display: flex;
  align-items: center;
  margin-top: auto;
  padding: 8px 0;
  font-size: 0.5rem;
  color: rgba(240, 255, 255, 0.658);
}

.footer-container{
  width: 96%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-tnx {
  display: flex;
  flex-direction: column;
  gap: 5px;
  pointer-events: none;
}

.footer-tnx p {
  color: rgba(0, 255, 255, 0.51);
}

.footer-linkbox{
  display: flex;
  /* flex-direction: column; */
  gap: 15px;
}

.footer-link {
  display: flex;
  text-align: left;
  text-decoration: none;
  gap: 5px;
  color: inherit;
  align-items: center;
}

.footer-link img {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: rgba(127, 255, 212, 0.256);
}

.footer-link:hover {
  color: aquamarine;
}

.footer-link:hover img {
    background-color: rgba(127, 255, 212, 0.519);
}
