@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');
@import './component/Header/header.css';
@import './component/Burger/burger.css';
@import './component/RecipesTable/recipetable.css';
@import './component/Herocard/herocard.css'; 
@import './component/Heroinfo/heroinfo.css'; 
@import './component/FilterButton/filterbutton.css';

:root {
  font-family: 'Philosopher', sans-serif;
  /* font-family: 'Open Sans', 'Inter', system-ui, 'Avenir', Helvetica, Arial, sans-serif; */
  color: azure;
  font-size: clamp(14px, 3vw, 18px);
  line-height: 1.5;
  font-weight: 400;
}

/* Для WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2c5364;
  border-radius: 2px;
  border: 1px solid aquamarine;
}

::-webkit-scrollbar-track {
  background-color: #2c5364;
  /* background-color: #203a43; */
}


* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

html {
  overflow-y: scroll;
}

body {
  position: relative;
  min-height: 100vh;

  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  ); 
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.scroll-lock {
  overflow-y: hidden;
}

select,
input {
  font-family: inherit;
}

select {
  font-weight: 500;
}

/* ====== Heroespage ======= */
/* #region */

.herosection{
  max-width: 96%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.heroesForm {
  font-family: inherit;
  margin: 30px 6px;
  display: flex;
  gap: 10px;
}

.filterbutton-box {
  display: flex;
  flex-grow: 1;
  flex: 2.5;
  justify-content: end;
  gap: 0.5rem;

}

/* #endregion */

/* ===== Startpage ===== */
.startpage {
  width: 96%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.startpage iframe {
  width: calc(33% - 2rem);
}

@media (max-width: 1024px) {
  .heroesForm {
    margin-top: 50px;
  }
  
  .header-link{
    display: none;
  }

  .burger-button {
    display: block;
  }

  .herocards {
    width: calc(25% - 8px);
  }

  .herosearch {
    padding: 10px;
    border-radius: 6px;
  }

  .herotypebutton {
    border-radius: 6px;
  } 
}


@media (max-width: 640px) {
  .heroesForm {
    flex-direction: column;
    margin-top: 50px;
  }

  .herocards {
    width: calc(33% - 4px);
  }

  .herosearch {
    padding: 8px;
    border-radius: 6px;
    max-width: 100%;
  }

  .filterbutton-box {
    justify-content: space-between;
    width: 100%;
  }

  .herotypebutton {
    border-radius: 6px;
  } 
}

@media (max-width: 400px) {
  .herocards {
    width: calc(50% - 4px);
  }
}