.herotypebutton {
  position: relative;
  flex-grow: 1;
  min-width: 5%;
  min-height: 50%;
  max-width: 8%;
  max-height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  border-style: hidden;
  border-width: 0px;
  background-position: center;
  background-size: cover;
  outline: 1px solid lightgray;
  filter: contrast(120%);
}

.herotypebutton-check {
  filter: contrast(200%);
  box-shadow: 0 0 15px #fff,0 0 10px #fff, 0 0 5px #fff;
  justify-content: center;
  line-height: 66px;
  mix-blend-mode: normal;
  overflow: hidden;
}
.herotypebutton-check:before {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  z-index: 2;
  content: "\2714";
  color: green;
  text-shadow: 0 0 2px #000;
}

.herotypebutton-legendary {
  background-color: #ffaa00;
}

.herotypebutton-epic {
  background-color: #cc00ff;
}

.herotypebutton-rare {
  background-color: #0085fa;
}

.herotypebutton-common {
  background-color: #999999;
}

.fire {
  background-image: url('/fury/el-fire.png');
  background-color: transparent;
}
.ice {
  background-image: url('/fury/el-ice.png');
  background-color: transparent;
}
.lightning {
  background-image: url('/fury/el-lightning.png');
  background-color: transparent;
}
.necro {
  background-image: url('/fury/el-necro.png');
  background-color: transparent;
}
.poison {
  background-image: url('/fury/el-poison.png');
  background-color: transparent;
}
.radiance {
  background-image: url('/fury/el-radiance.png');
  background-color: transparent;
}
